.piecesBox--left{
    grid-area: piecesBox--left;
    margin-left: 50px;
} 
.piecesBox--right{
    grid-area: piecesBox--right;
    justify-content: flex-end;
    margin-right: 50px;
}
.piecesBox{
    position: relative;
    display: flex;
    width: calc(100% - 50px);
    flex-wrap: wrap;
    /* align-items: flex-start; */
    align-content: flex-start;
}