@import url('title.css');
/* @import url('mainContainer.css'); */
@import url('chooseAndTimePanel.css');
@import url('plate.css');
@import url('puzzlesPiecesBox.css');
@import url('control.css');
@import url('chooseLevel.css');

body{
    background-image: url(../img/background/paws-patterns-creative-footprints-patterns-abstract-backgrounds-dog-footprints-besthqwallpapers.com-1920x1200.jpg);
    background-size: cover;
    background-position: center;
}
.hide{
    /* display: none; */
    visibility: hidden;
    
}