/* @import url("chooseIMG.css");
@import url('puzzleImg.css'); */

.plate{
    height: calc(100vh - 300px);
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}