.centerBox{
    grid-area: centerBox;
}
.plate{    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}
.img{
    margin: 0 auto;
}
.pieceBorder{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgray;
}
.puzzlePiece{
    background-repeat: no-repeat;
    align-items: flex-start;
}

.puzzlePiece-animation{
    transition: all 0.05s linear;
    transform: scaleX(0);
}
.final{
    transition: all 2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotate(1080deg) scale(0);
}