/* @import url("chooseIMG.css");
@import url('puzzleImg.css'); */

.plate{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.puzzlePice{
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
}